.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 25px;
  height: fit-content;
  top: 0;
  left: 0;
  transition: background-color 0.3s;
  z-index: 1000; /* Ensure the header is above other content */
}

.App-header.transparent {
  background-color: transparent;
  color: aliceblue;
}

.App-header.scrolled {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  color: black;
}

.nav-icon-link {
  text-decoration: none; /* Removes underline from the link */
  font-weight: 700;
  color: inherit; /* Inherits the color from the parent */
}

.nav-icon {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
}

.nav-icon-img {
  max-width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintains aspect ratio */
  margin-right: 10px; /* Space between image and text */
}

nav a {
  color: inherit;
  margin: 0 10px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Specific style for the Contact page */
.contact-header nav a,
.contact-header .nav-icon-link {
  color: black;
}

.language-toggle-button {
  background-color: transparent; /* Blue background */
  color: #fff; /* White text */
  padding: 10px 20px; /* Padding for text */
  border: 2px solid #f4f7f8; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  font-size: 12px; /* Text size */
  font-weight: 600;
  cursor: pointer; 
  transition: ease-in-out 0.2s;
}

.language-toggle-button:hover {
  background-color: white;
  color: black;
}

.language-toggle-button.scrolled{
  border: 2px solid #000000;
  color: black;
}

@media screen and (max-width: 600px) {
  .App-header {
    max-height: 103px;

  }

  .nav-icon{
    transform: scale(70%);
  }

  nav a {
    font-size: 8px;
  }

  .nav-icon p{
    font-size: 10px;
  }

  .language-toggle-button{
    font-size: 8px;
    transform: scale(70%);
  }
}